.banner {
    color: #113f67;
    text-align: center;
    padding: 5rem 1rem;
    height: 100%;
    height: max-content;
}
.banner h1 {
    font-size: 2.5rem;
}
.banner-content {
    height: 100vh;
    background: url('../images/lips-1.png') center/70% no-repeat;
}
