.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  background: rgba(20, 20, 20, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  z-index: 999;

}


/* Circle image */
.circle-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right links */
.bottom-right {
    display: flex;
    gap: 20px;
    line-height: 40px;
}

.bottom-right a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.bottom-right a:hover {
    color: #ff6600;
}