<span class='bottom-nav' id="floatingNavBar">

  <div class='bottom-left'>
    <div class='circle-img'>
      {{! <img src="assets/images/users-profile/visitor.jpg" alt="Logo"> }}
    </div>
  </div>
  <div class='bottom-right'>
    <a href='/'>Home</a>
    <a href='/login'>Login</a>
    <a href='/cart'>Cart</a>
  </div>
</span>
