
  <!-- Left Column -->
  <div class="user-column">
    
  </div>

  <!-- Right Column -->
  <div class="model-column">
    <div class="model">
      <img src="assets/model.png" alt="Model">

      <!-- Product markers -->

    </div>
    <!-- Transparent Navbar -->
    <nav class="suggestion-navbar">
      <ul>
        <div class="suggestion-list">
         
        </div>
      </ul>
    </nav>

