{{#section "css"}}

<link rel='stylesheet' href='/css/auth.css' />

{{/section}}


<body>
    <div class='auth-container'>
        <h2>Register</h2>
        <form>
            <input type='text' placeholder='Name' required />
            <input type='email' placeholder='Email' required />
            <input type='password' placeholder='Password' required />
            <button type='submit'>Register</button>
        </form>
        <p>Already have an account? <a href='/login'>Login here</a></p>
    </div>
</body>